
@section PageTitle {
    @Resource.about2
}

@section arurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "ar-OM", view="Organization",cont="AboutROP"}  )">
        <i class="fa fa-globe"></i> عربي
    </a>
}

@section enurl{
    <a href="@Url.Action("GetLang", "Home", new { lang = "en-US",view="Organization",cont="AboutROP" } )">
        <i class="fa fa-globe"></i> En
    </a>
}

@section orgnization{

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $("[data-toggle=popover]")
            .popover({ html: true })

        $('body').on('click', function (e) {
            //did not click a popover toggle or popover
            if ($(e.target).data('toggle') !== 'popover'
                && $(e.target).parents('.popover.in').length === 0) {
                $('[data-toggle="popover"]').popover('hide');
            }
        });
    </script>
}
@using ROP_WEB.Res


<div class="container-fluid TopicStyle">
    <div class="row">

        <div class="col breadcrumbstyle" style="padding:0">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">@Resource.home</a></li>
                    <li class="breadcrumb-item"><a href="#">@Resource.about</a></li>

                    <li class="breadcrumb-item active">@Resource.about2  </li>
                </ol>
            </nav>
        </div>
    </div>



    <div class="container topiccontiner">

        <div class="row">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-group">
                    <li class="list-group-item"> <a href="#">@Resource.about1  </a></li>
                    <li class="list-group-item"> <a href="#">@Resource.v_m  </a></li>
                    <li class="list-group-item activelist"><a href="#">@Resource.about2 </a></li>
                    <li class="list-group-item "><a href="#">@Resource.achivment </a></li>


                </ul>

            </div>
            <div class="col-md-8">

                <div class="jumbotron">
                    <h3>  @Resource.about2 </h3>

                    <div id="accordion" role="tablist" aria-multiselectable="true">





                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @Resource.RegionalPoliceHeadquarters
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="servicesboxtitle wow fadeIn" data-wow-delay="0">
                                            <a href="#" data-toggle="popover" data-placement="top"
                                               data-content="<p>مركز ولاية بوشر </p>
                                                               <p>مركز ولاية السيب </p>
                                                                                        ">@Resource.MuscatGovernoratePoliceHeadquarter</a>
                                        </div>
                                    </div>





                                </div>



                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        @Resource.GeneralDirectorate
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        @Resource.SpecializedDirectorates
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                        @Resource.PoliceSpecialized
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-block">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>


                    </div>




                </div>


            </div>
        </div>



    </div>
</div>

